@use "../utils/colors" as color;

body {
  width: 100vw;
  height: 100vh;
  background-color: color.$Very-dark-blue;
  color: color.$White;
  font-family: 'Rubik', sans-serif;
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
}