@use "../utils/colors" as color;

.card-main {
  .header {
    padding: 4rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: color.$Blue;
    border-radius: 1rem;
    .profile-picture {
      display: block;
      width: 70px;
      height: 70px;
    }
    .profile-title {
      margin: 0;
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 400;
      .size-style {
        font-size: 1rem;
        font-weight: 300;
      }
    }
  }

  .body {
    padding: 1rem 1.5rem;
    .body-list {
      width: 100%;
      padding: 0;
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      color: color.$Pale-Blue;
    }
  }
}

@media screen and (min-width: 768px) {
  .card-main {
    margin: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    .header {
      padding: 1rem 1rem 3rem 1rem;
      flex-flow: column;
      align-items: flex-start;
      justify-content: space-evenly;
      height: 70%;
    }
    .body {
      padding: 1rem 1rem 0 1rem;
      height: 30%;
      .body-list {
        height: 100%;
        margin: 0;
        flex-flow: column;
        justify-content: space-evenly;
      }
    }
  }
}