@use "../utils/colors" as color;

.card-work,
.card-play,
.card-study,
.card-exercise,
.card-social,
.card-self-care {
  .header {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  .body {
    background-color: color.$Dark-blue;
    border-radius: 1rem;
  }
}

.card-work {
  background-color: color.$Light-red-work;
}

.card-play {
  background-color: color.$Soft-blue-play;
}

.card-study {
  background-color: color.$Light-red-study;
}

.card-exercise {
  background-color: color.$Lime-green-exercise;
}

.card-social {
  background-color: color.$Violet-social;
}

.card-self-care {
  background-color: color.$Soft-orange-self-care;
}

@media screen and (min-width: 768px) {
  .card-work {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .card-play {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .card-study {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }

  .card-exercise {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .card-social {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .card-self-care {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }
}